<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.multitude.bless.codegeneration.handlers.GenerateSlang"
            id="BLESS.generateslang"
            name="generate Slang">
      </command>
      <command
            defaultHandler="com.multitude.bless.codegeneration.handlers.GeneratePortAssertionJSON"
            id="BLESS.generateportjason"
            name="generate port assertion JSON">
      </command>
      <command
            defaultHandler="com.multitude.bless.codegeneration.handlers.GenerateISOSCELES"
            id="BLESS.generateisosceles"
            name="generate ISOSCELES">
      </command>
      <command
            defaultHandler="com.multitude.bless.codegeneration.handlers.GenerateBA"
            id="BLESS.generateba"
            name="generate BA">
      </command>
   </extension>
</plugin>
