<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.ge.diagramTypes">
      <diagramType
            class="com.multitude.bless.ge.BlessDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.osate.ge.contentFilters">
      <contentFilter
            class="com.multitude.bless.ge.filters.BLESSSubclauseFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.BehaviorStateFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.BehaviorTransitionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.DispatchConditionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.ExecuteConditionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.InternalConditionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.ModeConditionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.VariableDeclarationFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.AssertionFilter">
      </contentFilter>
      <contentFilter
            class="com.multitude.bless.ge.filters.InvariantFilter">
      </contentFilter>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.multitude.bless.ge.BlessPropertyTester"
            id="com.multitude.bless.ge.propertyTester"
            namespace="com.multitude.bless.ge"
            properties="isDiagramContext"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.osate.ge.businessObjectProviders">
      <provider
            class="com.multitude.bless.ge.BlessBusinessObjectProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.osate.ge.editor.AgeDiagramEditor">
         <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
            class="com.multitude.bless.ge.ui.properties.BehaviorStatePropertySection"
            filter="com.multitude.bless.ge.ui.properties.BehaviorStatePropertySection$Filter"
            id="com.multitude.bless.ge.ui.properties.behaviorStatePropertySection"
            tab="org.osate.ge.ui.properties.tabs.aadl">
         </propertySection>
         <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
            class="com.multitude.bless.ge.ui.properties.BehaviorTransitionPropertySection"
            filter="com.multitude.bless.ge.ui.properties.BehaviorTransitionPropertySection$Filter"
            id="com.multitude.bless.ge.ui.properties.behaviorTransitionPropertySection"
            tab="org.osate.ge.ui.properties.tabs.aadl">
         </propertySection>
         <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
            class="com.multitude.bless.ge.ui.properties.VariableDeclarationPropertySection"
            filter="com.multitude.bless.ge.ui.properties.VariableDeclarationPropertySection$Filter"
            id="com.multitude.bless.ge.ui.properties.variableDeclarationPropertySection"
            tab="org.osate.ge.ui.properties.tabs.aadl">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.osate.ge.businessObjectHandlers">
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.BlessHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.BehaviorStateHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.BehaviorVariableHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.DispatchConditionHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.ExecuteConditionHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.InternalConditionHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.ModeConditionHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.TransitionHandler">
      </handler>
      <handler
            class="com.multitude.bless.ge.businessobjecthandlers.NamedAssertionHandler">
      </handler>
   </extension>
   <extension
         point="org.osate.ge.paletteContributors">
      <contributor
            class="com.multitude.bless.ge.ui.palette.BlessPaletteContributor">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.multitude.bless.ge.ui.handlers.CreateBlessDiagramHandler"
            commandId="org.osate.ge.createNewDiagram">
        <activeWhen>
          <reference
            definitionId="blessDiagramContext">
          </reference>
       </activeWhen>
      </handler>
      <handler
            class="com.multitude.bless.ge.ui.handlers.CreateBlessDiagramHandler"
            commandId="org.osate.ge.commands.creatediagram">
        <activeWhen>
          <reference
            definitionId="blessDiagramContext">
          </reference>
       </activeWhen>
      </handler>
      <handler
            class="com.multitude.bless.ge.ui.handlers.OpenBlessDiagramHandler"
            commandId="org.osate.ge.commands.opendiagram">
         <activeWhen>
          <reference
            definitionId="blessDiagramContext">
          </reference>
       </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.ge.openMenu?after=org.osate.ge.additionalDiagramTypes">
         <command
               commandId="org.osate.ge.commands.opendiagram"
               label="BLESS State Machine Diagram"
               style="push">
          <visibleWhen
           checkEnabled="true">
         </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.osate.ge.referenceResolvers">
      <factory
            class="com.multitude.bless.ge.BlessReferenceResolver$Factory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="blessDiagramContext">
          <with
            variable="selection">
            <and>
              <count
              value="1">
              </count>
              <test
                property="com.multitude.bless.ge.isDiagramContext"
                forcePluginActivation="true">
              </test>
            </and>
          </with>
      </definition>
   </extension>

</plugin>
